{include file="header.html"}
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<P><TABLE cellpadding="3" WIDTH="100%">
	<TR class="dark">
		<TD width="93%" class="fleftu" NOWRAP><IMG src="img/id.gif" alt=""> <B>{trans("Group:")}</B></TD>
		<TD width="1%" class="fbt" align="right" NOWRAP>{trans("ID:")}</TD>
		<TD width="1%" class="frightu" align="right"  NOWRAP><a href="?m=numberplanadd">{trans("Add group")} <img src="img/save.gif" alt=""></a></TD>
	</TR>
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="8" CLASS="FALL">
			{include file="scroller.html" loop=$numberplangrouplist}
		</TD>
	</TR>
	{/if}
	{cycle values="light,lucid" print=false}
	{section name=numberplangrouplist loop=$numberplangrouplist}
	<TR class="{cycle}" onmouseover="addClass(this, 'highlight')" onmouseout="removeClass(this, 'highlight')">
		<TD class="fleft" NOWRAP onClick="return self.location.href='?m=numberplangroupedit&id={$numberplangrouplist[numberplangrouplist].id}';">
			<IMG src="img/id.gif" alt=""> <B>{$numberplangrouplist[numberplangrouplist].description}</B>
		</TD>
		<TD align="right" NOWRAP onClick="return self.location.href='?m=numberplangroupedit&id={$numberplangrouplist[numberplangrouplist].id}';">
			({$numberplangrouplist[numberplangrouplist].id|string_format:"%04d"})
		</TD>
		<TD class="fright" align="right" NOWRAP>
			<A href="?m=numberplangroupdel&id={$numberplangrouplist[numberplangrouplist].id}" OnClick="return confirmLink(this, '{t a=$numberplangrouplist[numberplangrouplist].template}Are you sure, you want to delete numberplan group \'$a\'?{/t}')"><IMG src="img/delete.gif" alt="[ {trans("Delete")} ]" title="[ {trans("Delete")} ]"></A>
			<A href="?m=numberplangroupedit&id={$numberplangrouplist[numberplangrouplist].id}"><IMG src="img/edit.gif" alt="[ {trans("Edit")} ]" title="[ {trans("Edit")} ]"></A>
		</TD>
	</TR>
	{sectionelse}
	<TR>
		<TD colspan="8" align="center" class="fall">
			<p>&nbsp;</p>
			<p><B>{trans("No such numbering plans group in database.")}</B></p>
			<p>&nbsp;</p>
		</TD>
	</TR>
	{/section}
	{if $listdata.total != 0}
	<TR CLASS="DARK">
		<TD COLSPAN="8" CLASS="FALL">
			{include file="scroller.html" loop=$numberplangrouplist}
		</TD>
	</TR>
	{/if}
	<TR class="light">
		<TD colspan="3" class="fall" align="right">
			<a href="?m=numberplanadd">{trans("Add group")} <img src="img/save.gif" alt=""></a>
		</TD>
	</TR>
</TABLE></P>
{include file="footer.html"}
